:root{
    --secondaryBack: #222732;
    --primaryBack: #191d24;
    --ourYellow: #f3c317;
    --ourLightRed: #ff0000;
    --ourGreen: #1a8926;
    --ourRed: #891a1a;
    --ourPink: #bf24c2;
    --ourWhite: #ffffff;
    font-family: "Arial Black";
}

ul{
    list-style: none;
}
.ais-SearchBox {
    margin: 1em 0;
  }
  
  .ais-Pagination {
    margin-top: 1em;
  }
  
  .left-panel {
    float: left;
    width: 250px;
  }
  
  .right-panel {
    margin-left: 260px;
  }
  
  .ais-InstantSearch {
    max-width: 960px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .ais-Hits-item {
    margin-bottom: 1em;
    width: calc(50% - 1rem);
  }
  
  .ais-Hits-item img {
    margin-right: 1em;
  }
  
  .hit-name {
    margin-bottom: 0.5em;
  }
  
  .hit-description {
    color: #888;
    font-size: 14px;
    margin-bottom: 0.5em;
  }
  
  
  .ais-SearchBox {
    margin: 1em 0;
  }
  
  .ais-Pagination {
    margin-top: 1em;
  }
  
  .left-panel {
    float: left;
    width: 250px;
  }
  
  .right-panel {
    margin-left: 260px;
  }
  
  .ais-InstantSearch {
    max-width: 960px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .ais-Hits-item {
    margin-bottom: 1em;
    width: calc(50% - 1rem);
  }
  
  .ais-Hits-item img {
    margin-right: 1em;
  }
  
  .hit-name {
    margin-bottom: 0.5em;
  }
  
  .hit-description {
    color: #888;
    font-size: 14px;
    margin-bottom: 0.5em;
  }
  